body {
    background: white;
    color: #101010;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 55px;
}

h2 {
    font-style: italic;
    color: #407E8B;
}

.content {
    width: 100%;
    max-width: 750px;
    margin: auto;
    margin-top: 50px;
    background: white;
}

.underlined {
    border-bottom: solid darkgrey 2px;
    padding-bottom: 10px;
}

#photo {
    max-width: 90px;
    height: auto;
    float: right;
    margin-top: -90px;
    border: solid #407E8B 3px;
    border-radius: 50%;
}